
.header {
  background: url(../img/map.png);
  height: 550px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -100px;
}
.heading {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 80px;
    color: #ECF0F1;
    margin-top: 300px;
  }
}
.shy {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 30px;
    color: #ECF0F1
  }
}

.text {
  color: #ECF0F1;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  width: 70%;
  font-weight: 300

}
.form  {
  height: 700px;
  margin-top: 60px;;
  form{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    .submit {
      height: 100px;
      width: 400px;
      display: flex;
      justify-content: space-between;
      text-align: left;
      margin-left: 40px;
      span {
        width: 250px;
        text-align: justify;
        color: #6389A5;
        font-size: 16px;
      }
      button {
        height: 45px;
        width: 90px;
        background: #25C0EA;
        border: none;
        border-radius: 50px;
        color: #fff;
        margin-right: 35px;
        cursor: pointer;
      }
    }
  }
  h3 {
    color: #25C0EA;
    margin-left: 100px;
    margin-bottom: 40px;
  }

}
.form-contact {
  width: 370px;
  height: 50px;
  background: #ECF0F1;
  border-radius: 30px;
  border: none;
  margin-bottom: 20px;
  padding: 20px;
}
.textarea-contact {
  width: 370px;
  height: 180px;
  background: #ECF0F1;
  border-radius: 30px;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
}
.mapHead {
  color: #25C0EA;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 60px;
  margin-left: 70px;
  }
.office {
  display: flex;
  flex-flow: column;
  // margin-top: 60px;
  align-items: center;
  justify-content: center;
  .map-container {
    height: 400px;
    width: 400px;
    background: #ECF0F1;
    border-radius: 30px;
  }
}
.contact-info {
  h6 {
    font-weight: 300px;
    color: #002C3E;
  }
  p {
    color: #002C3E;
  }
  margin-top: 20px;
}

.contact .navbar-nav .nav-link {
  color: #ECF0F1 !important;
  @media screen and (max-width: 991px) {
    color: #002C3E !important
  }
}