*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}
html {
  scroll-behavior:smooth
}
body {
  font-family: 'SFPro';
}
.noPadding {
  padding: 0px !important;
}
