footer  
  .container-fluid
    .row.footer-gradiant
      .col-lg-6.col-md-6.left-footer
        .footer-logo
          img(src="img/ZPS-1.png")
        .stay
          p Stay Compliant!
        .phone
          p +49 (0) 6206/703 65 70
        .addreess
          p Ernst Ludwigstr. 26  68623 Lampertheim  info@zamann-pharma.com
      .col-lg-6.col-md-6.right-footer
        .links
          p Imprint
          p Data
          p Protection
          p Pharmatching.com
          p Contact
        .email
          input(type="text", placeholder="Enter Your Email Address").footer-email 
          button(type="submit") SUBMIT
        .sign-up
          p Sign up your email address to receive news
        .social-media
          .linkdin
            a.so-link(href="https://www.linkedin.com/company/zamann-pharma-support/" target="_blank")
              img(src="img/linkedin.svg")
          .facebook
            a.so-link(href="https://www.facebook.com/Zamann-Pharma-Support-1813482475430693/?rf=318127588688854" target="_blank")
              img(src="img/facebook.svg")
          .twitter
            a.so-link(href="https://twitter.com/PharmaZamann" target="_blank")
              img(src="img/twitter.svg")
          .instagram
            a.so-link(href="https://www.instagram.com/zamannpharma/" target="_blank")
              img(src="img/instagram.svg")
          .xmedia
            a.so-link(href="https://www.xing.com/companies/zamannpharmasupportgmbh" target="_blank")
              img(src="img/x.svg" )
  .conatiner-fluid
    .row.rights
      .col-lg-12.col-md-12.col-sm-12
        .copyright
          p Copyright © 2019 Zamann. All Rights Reserved. | Privacy Policy

