nav.navbar.navbar-expand-lg.navbar-dark
  a.navbar-brand(href='/')
    img(src='img/white-logo.png' class="logo-zaman" id="white-logo")
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation' id="btn-menu")
    span.navbar-toggler-icon
  
  .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/login') LIFE SCIENCE
      li.nav-item
        a.nav-link(href='/competences.html') COMPETENCES
      li.nav-item
        a.nav-link(href='/login') PHARMATCHING
      li.nav-item
        a.nav-link(href='/login') REFRENCES
      li.nav-item
        a.nav-link(href='/login') E-SHOP
      li.nav-item
        a.nav-link(href='contact.html') CONTACT